In [61]:
from faker import Faker
import pandas as pd
from faker.providers import DynamicProvider

fake = Faker()

In [62]:
n_product=100

In [63]:
product_set=[]

while(len(set(product_set))<=n_product):
    product_set.append(fake.name())

In [64]:
prodname= DynamicProvider(
     provider_name="prodname",
     elements=['Rice','Dall','apples','orengs','bringal','carrot','betroots','tamarind','peas','grapes','mangos','kewi','letchi'])


fake.add_provider(prodname)

In [65]:
product_Set = list(set(product_set))

In [66]:
rate = DynamicProvider(
     provider_name="rate",
     elements=[55,76,76,34,98,44,22,14,11,25,78,83,54,43,74,61,99,10,27,80])

fake.add_provider(rate)

In [67]:
sku = DynamicProvider(
     provider_name="sku",
     elements=['2KG','4KG','6KG','8KG','9KG','1KG','3KG','5KG','7KG','11KG','14KG','12KG',])

fake.add_provider(sku)

In [68]:
isactive = DynamicProvider(
     provider_name="isactive",
     elements=['FALSE','TRUE',])

fake.add_provider(isactive)

In [69]:
req_list=[]
for i in range(100):
    x =[]
    x.append(i)
    x.append(str(fake.unique.country_code()))
    x.append(str(fake.prodname()))
    x.append(str(fake.sku()))
    x.append(str(fake.rate()))
    x.append(fake.isactive())
   
    
    

   
    req_list.append(x)

In [70]:
df = pd.DataFrame(req_list)

In [86]:
df.head()

   PRODUCTID PRODUCTCODE PRODUCTNAME  SKU RATE ISACTIVE
0          0          QA    tamarind  2KG   83    FALSE
1          1          BW    tamarind  2KG   22     TRUE
2          2          EC        peas  2KG   76     TRUE
3          3          AR    betroots  8KG   10     TRUE
4          4          SB      apples  3KG   25     TRUE

In [85]:
df.columns=['PRODUCTID','PRODUCTCODE','PRODUCTNAME','SKU','RATE','ISACTIVE']

In [72]:
df.to_csv('product_master.csv',index=False)

In [73]:
import psycopg2

In [91]:
import psycopg2
#establishing the connection
try:
    conn = psycopg2.connect(
       database="postgres", user='postgres', password='{_/U{[^z>;OVTf\';', host='35.196.4.55', port= '5432')
    #Creating a cursor object using the cursor() method
except Exception as error:
    print("failed connecting to database")
cursor = conn.cursor()

In [92]:
create_table = """CREATE TABLE if not exists product_master(
                productid integer,
                productcode varchar(20) NOT NULL,
                productname	varchar(100),
                sku	varchar(20),
                rate numeric(20),
                isactive boolean);"""


try:
    cursor.execute(create_table)
    conn.commit()
except Exception as error:
        print("failed creating table:{}",error)

In [93]:
for i in range(len(df)):
    productid = int(df['PRODUCTID'].iloc[i])
    productcode = str(df['PRODUCTCODE'].iloc[i])
    productname = str(df['PRODUCTNAME'].iloc[i])
    sku = str(df['SKU'].iloc[i])
    rate = str(df['RATE'].iloc[i])
    isactive = str(df['ISACTIVE'].iloc[i])
    
    query = ("insert into product_master (productid,productcode, productname, sku, rate, isactive)"
         "values (%s, %s, %s, %s, %s, %s)")

    val = (productid,productcode, productname, sku, rate, isactive)
    cursor.execute(query,val)
    conn.commit()
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99